body {
    color: white;
    background: #4f03c7;
    font-family: Bahnschrift, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a.subpage {
    font-size: 1.1rem;
    background: #320080;
    border: #300080 3px solid;
    padding: 4px;
}

a.subpage:hover {
    text-decoration: none;
}
h1 a {

}

h1 a:hover {
    color: #cbcaca;
    text-decoration: none;
}
